html {
  height: 100%;
  width: 100%;
}

body {
  background: hsl(135, 25%, 85%);
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 80px;
  text-shadow: 0 0 12px #a78;
}

.textoRandom {
  line-height: 2;
  text-align: justify;
}

.pie {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
}

.menu {
  height: 40px;
  width: 100%;
  background: #7887;
  text-align: center;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
}
