html {
  height: 100%;
  width: 100%;
}

body {
  background: hsl(135, 25%, 85%);
}

h1 {
  text-align: center;
  font-size: 80px;
  text-shadow: 0 0 12px #a78;
}

p {
  line-height: 2;
  text-align: justify;
}
